@import './variables';
@import './mixins';

.o-button {
  @include elevation;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  margin: 0 4px;

  &__primary {
    background-color: $color-primary;
    color: $text-color-primary;
  }

  &__secondary {
    background-color: $color-secondary;
    color: $text-color-primary;
  }

  &__accent {
    background-color: $color-accent;
    color: $text-color-accent;
  }
}
