@import './variables';

.form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__margin {
    margin-bottom: 8px;
  }

  &__wrapper {
    width: 100%;
    position: relative;

    .form__input {
      padding-right: 32px;
    }
  }

  &__input, &__button {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    height: 32px;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
    padding: 8px 16px;
    width: 100%;
    color: $color-text;
  }

  &__input {
    border: 1px solid $color-grey-300;

    &::placeholder {
      font-size: 12px;
      font-family: 'Roboto', sans-serif;
      color: $color-grey-600;
    }

    &:focus {
      border-color: $color-primary;
    }
  }

  &__button {
    border: none;
    background-color: $color-primary;
    cursor: pointer;
    color: $color-white;
  }

  &__icon {
    position: absolute;
    top: 7px;
    right: 8px;
    cursor: pointer;
    color: $color-grey-400;
    user-select: none;
    font-size: 18px;

    &.active {
      color: $color-grey-900;
    }
  }
}
