@import './variables';

.form {
  display: flex;
  flex-direction: column;

  &__margin {
    margin-bottom: 8px;
  }

  &__wrapper {
    width: 100%;
    position: relative;

    .form__input {
      padding-right: 32px;
    }
  }

  &__input, &__button {
    height: 32px;
    border-radius: 2px;
    outline: none;
    box-sizing: border-box;
    padding: 8px 16px;
    width: 100%;
  }

  &__input {
    border: 1px solid $color-grey-300;

    &:focus {
      border-color: $color-primary;
    }
  }

  &__button {
    border: none;
    background-color: $color-primary;
    cursor: pointer;
    color: $color-white;
  }

  &__icon {
    position: absolute;
    top: 7px;
    right: 8px;
    cursor: pointer;
    color: $text-color-tertiary;
    user-select: none;
    font-size: 18px;

    &.active {
      color: $text-color-primary;
    }
  }
}
