@import './variables';

.o-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 230px;

  > * {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__header {
    font-family: 'Dancing Script', cursive;
    font-size: 54px;
    margin-bottom: 24px;
  }

  &__footer {
    font-size: 12px;
    margin-top: 16px;
  }

  &__action {
    font-size: 12px;
    text-decoration: none;
    color: $color-accent;
    user-select: none;
    cursor: pointer;

    &--secondary {
      color: $text-color-secondary;
      align-self: flex-end;
    }
  }

  &__input, &__submit, &__textarea {
    padding: 8px 16px;
    width: 100%;
    border-radius: 2px;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
  }

  &__input, &__submit {
    height: 34px;
  }

  &__input, &__textarea {
    border: 1px solid $color-secondary;
    color: $text-color-primary;

    &:focus {
      border-color: $color-accent;
    }

    &::placeholder {
      font-family: 'Roboto', sans-serif;
      color: $text-color-secondary;
      font-size: 12px;
    }
  }

  &__submit {
    color: $color-white;
    background-color: $color-accent;
    border: none;
    cursor: pointer;
  }

  &__textarea {
    resize: none;
  }

  &__wrapper {
    position: relative;
    width: 100%;

    .o-form__input {
      padding-right: 32px;
    }

    .o-form__icon {
      color: $color-black;
      position: absolute;
      top: 8px;
      right: 8px;
      cursor: pointer;
      user-select: none;

      .material-icons {
        font-size: 18px;
      }

      &--toggle {
        color: $color-secondary;
        user-select: none;

        &.is-active {
          color: $text-color-primary;
        }
      }
    }
  }
}
