@import './variables';
@import './mixins';

.o-page {
  overflow: auto;
  height: calc(100vh - #{$navbar-height});
  margin-top: $navbar-height;
  color: $text-color-primary;
  background-color: $window-background;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  &--intro {
    margin-top: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/dan-gold-105699-unsplash.jpg') no-repeat center;
    background-size: cover;
  }

  &__wrapper {
    width: 100%;
    max-width: 1000px;
    margin: auto;
  }

  &__card {
    @include elevation;
    padding: 32px;
    background-color: $color-primary;
    border-radius: 2px;
  }

  &__separator {
    height: 1px;
    background-color: $color-secondary;
    margin: 16px 32px;
    box-sizing: border-box;
  }
}
