@import './variables';

.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 64px;

  &__image {
    width: 150px;
    height: 150px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    width: 66%;
  }

  &__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 16px;
  }

  &__label {
    padding: 0 32px 0 4px;
  }

  &__button {
    margin: 0 8px 0 16px;
  }
}
