.profile {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
  }

  &__content {
    display: flex;
    flex-direction: column;
  }
}
