// Material colors
$color-red-500: #f44336;

$color-green-500: #4caf50;
$color-green-a400: #00e676;
$color-green-a700: #00c853;

$color-grey-200: #eee;
$color-grey-300: #e0e0e0;
$color-grey-400: #bdbdbd;
$color-grey-500: #9e9e9e;
$color-grey-600: #757575;
$color-grey-700: #616161;
$color-grey-800: #424242;
$color-grey-900: #212121;

$color-white: #fff;
$color-black: #000;

// App style
$color-primary: $color-green-a700;
$text-color-primary: $color-black;
$text-color-secondary: $color-grey-700;
$text-color-tertiary: $color-grey-300;
$toolbar-height: 50px;
