@import './variables';

.view {
  padding-top: $toolbar-height;
  box-sizing: border-box;
  background-color: $color-white;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &--center {
    padding-top: 0;
    align-items: center;
    height: 100vh;
    background: url('../images/dan-gold-105699-unsplash.jpg') no-repeat center;
    background-size: cover;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    max-width: 1000px;
    width: 100%;
    margin: 0 64px 64px;
  }

  &__separator {
    margin: 32px;
    background-color: $color-grey-300;
    border: none;
    height: 1px;
  }
}
